fastapi==0.122.0
pydantic==2.12.5
httpx==0.28.1
beautifulsoup4==4.14.2
selenium==4.38.0
openai==2.8.1
python-dotenv==1.2.1
pandas==2.3.3
matplotlib==3.10.7
seaborn==0.13.2
PyPDF2==3.0.1
uvicorn==0.38.0
